  <body id='bg-body'>
      <h1 class="Post_Confirmation">Your posting has been confirmed!<br><br>An email has been sent to you for your records.<br>
          A trained volunteer will contact you soon.
      </h1>
            <div class="ui two column centered grid">
                    <div class="column" style="left: 14%">
                            <div class="ui buttons">
                                    <button class="ui button" (click)="home()">Return to homepage</button>
                                    <div class="or"></div>
                                    <button class="ui positive button" (click)="task()">Submit another Task</button>
                                </div>
                      <img>
                </div>
      
        </div>
  </body>


