<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  
    <!-- Site Properties -->
    <title>Grid Example - Semantic</title>
  
    <link rel="stylesheet" type="text/css" href="../dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/site.css">
  
    <link rel="stylesheet" type="text/css" href="../dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/divider.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/grid.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/header.css">
  </head>

  <body>

    <div class="ui container">
      <div class="ui centered two column grid">
        <div class="ui four wide column">
          <div class="ui vertical fluid tabular menu">
              <a class="active item" href="admin">
                  Profile
                </a>
                <a class="item" href="/admin/access-control">
                  Access Control
                </a>
                <a class="item" href="/admin/analytics">
                  Analytics
                </a>
          </div>
        </div>
        <div class="ui ten wide column">
          <h2 class="ui teal dividing header">
            Profile
          </h2>
          <form class="ui form">
              <div class="field">
                <label>Organization Name</label>
                <input type="text" value="Church World Service">
              </div>
              <div class="field">
                  <label>Location</label>
                  <input type="text" value="Durham, NC">
              </div>
              <button class="ui teal button" type="submit">Save Information</button>
          </form>
        </div>
      </div>    
    </div>


  </body>