<body>

    <div class="ui container">
      <div class="ui centered two column grid">
        <div class="ui four wide column">
          <div class="ui vertical fluid tabular menu">
              <a class="item" href="admin">
                  Profile
                </a>
                <a class="item" href="/admin/access-control">
                  Access Control
                </a>
                <a class="active item" href="/admin/analytics">
                  Analytics
                </a>
          </div>
        </div>
        <div class="ui ten wide column">
          <h2 class="ui teal dividing header">
            Analytics
          </h2>
          <p>
            Here's some numbers to better understand the needs of your organization's clients and its ability to meet them through HelpOut.
          </p>
          <button class="ui teal button" type="csv">Download CSV</button>

        </div>
      </div>    
    </div>


  </body>
